* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #000000;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1104px;
    margin: 0 auto;
    min-height: 50px;
}

header {
    border: 1px solid red;
    background-color: #3f4643;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #5E87F9;
}

main {
    border: 1px solid red;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-left {
    width: calc(50% - 136px);
    border-bottom: 1px solid #CCCCCC;
    padding: 48px 0;
}

.section-avatar-center {
    text-align: center;
}

.section-right {
    width: 50%;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 47px;
    padding: 48px 0;
}

.section-avatar {
    width: 264px;
}

.main-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    margin: 0;
    padding-top: 48px;
}

.section-subtitle {
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    margin: 0;
    padding: 16px 0 32px 0;
}

.section-text {
    position: relative;
    margin: 0;
    padding-left: 56px;
}

.section-text::before {
    content: "";
    position: absolute;
    background-image: url(./assets/svg/Location.svg);
    width: 32px;
    height: 32px;
    left: 0px;
}

.section-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
}

.section-list {
    list-style: none;
    padding: 32px 0 0 0;
    margin: 0;
}

.section-nav-item {
    padding-bottom: 8px;
}

.section-nav-item:last-child {
    padding-bottom: 0px;
}

.section-nav-item a {
    padding-left: 56px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #000000;
    transition: color 0.5s;
}

.section-nav-item a:hover {
    color: #5E87F9;
}

.section-item-phone {
    position: relative;
}

.section-item-phone::before {
    content: "";
    position: absolute;
    background-image: url(./assets/svg/Phone.svg);
    width: 32px;
    height: 32px;
    left: 0px;
}

.section-item-email {
    position: relative;
}

.section-item-email::before {
    content: "";
    position: absolute;
    background-image: url(./assets/svg/Mail.svg);
    width: 32px;
    height: 32px;
    left: 0px;
}

.section-item-telegram {
    position: relative;
}

.section-item-telegram::before {
    content: "";
    position: absolute;
    background-image: url(./assets/svg/Telegram2.svg);
    width: 32px;
    height: 32px;
    left: 0px;
}

.section-item-linkedin {
    position: relative;
}

.section-item-linkedin::before {
    content: "";
    position: absolute;
    background-image: url(./assets/svg/linkedin.svg);
    width: 32px;
    height: 32px;
    left: 0px;
}

.section-item-instagram {
    position: relative;
}

.section-item-instagram::before {
    content: "";
    position: absolute;
    background-image: url(./assets/svg/instagram.svg);
    width: 32px;
    height: 32px;
    left: 0px;
}

.section-aboutme-text {
    font-weight: 500;
    color: #3f4643;;
}

footer {
    border: 1px solid red;
}

@media (max-width: 768px) {

    .section-left {
    width: 100%;
}

    .section-right {
    width: 100%;
}

}